.root {
    -fx-background-color: radial-gradient(
        focus-angle 0deg,
        focus-distance 0%,
        center 50% 0%,
        radius 121.36%,
        rgba(248, 248, 248, 0.06) 5.44%,
        rgba(0, 0, 0, 0) 100%
    ), #080808;
}

/* BUTTON COMPONENT */
/* ----------------------- */

/* Accent Button Variant */
.primary-button-variant-ACCENT {
	
    /* Text */
	-fx-font-size: 16px;
	-fx-font-weight: 700;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    
    /* Layout */
    -fx-padding: 18px 32px;
    -fx-alignment: center;
    
    /* Styles */
    -fx-background-color: #4A6EF2;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: rgba(248, 248, 248, 0.24);
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.64), 12, 0, 0, 6);
    
}


/* Filled Button Variant */
.primary-button-variant-FILLED {
		
	/* Text */
	-fx-font-size: 16px;
	-fx-font-weight: 700;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    
    /* Layout */
    -fx-padding: 18px 32px;
    -fx-alignment: center;
    
    /* Styles */
    -fx-background-color: #1E2025;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #28292E;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.64), 12, 0, 0, 6);
    
}


/* Text-Only Button Variant */
.primary-button-variant-TEXT_ONLY {

    /* Text */
	-fx-font-size: 16px;
	-fx-font-weight: 700;
    -fx-text-alignment: center;
    -fx-text-fill: #969799;
    
    /* Layout */
    -fx-padding: 18px 32px;
    -fx-alignment: center;
    
    /* Styles */
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;    
}
