
/* COMPONENTS */
/* -------------------------------------------------------------------- */

/* NAV-BUTTON */
/* ----------------------- */
.navbar-button {
	
    /* Layout */
    -fx-padding: 6px 8px 6px 8px;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    
    /* Text */
    -fx-text-fill: #F8F8F8;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    
    /* Spacing between icon and text is set in the NavButton class */
}

.navbar-button:hover {
	
    /* Hover Styles */
    -fx-background-color: #2A2D33; 
}
/* ----------------------- */


/* NAV-BAR */
/* ----------------------- */
.navbar {
	-fx-border-width: 0px 0px 0px 1px;
	-fx-background-color: #080808;
	-fx-padding: 24px 16px 24px 16px; /* top, right, bottom, left */
}
/* ----------------------- */

/* BUTTONS */
/* ----------------------- */

/* PRIMARY */

/* Accent Button Variant */
.primary-button-variant-ACCENT {
	
    /* Text */
	-fx-font-size: 16px;
	-fx-font-weight: 700;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    
    /* Layout */
    -fx-padding: 18px 32px;
    -fx-alignment: center;
    
    /* Styles */
    -fx-background-color: #4A6EF2;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: rgba(248, 248, 248, 0.24);
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.64), 12, 0, 0, 6);
    
}

/* Filled Button Variant */
.primary-button-variant-FILLED {
		
	/* Text */
	-fx-font-size: 16px;
	-fx-font-weight: 700;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    
    /* Layout */
    -fx-padding: 18px 32px;
    -fx-alignment: center;
    
    /* Styles */
    -fx-background-color: #1E2025;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #28292E;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.64), 12, 0, 0, 6);
    
}


/* Text-Only Button Variant */
.primary-button-variant-TEXT_ONLY {

    /* Text */
	-fx-font-size: 16px;
	-fx-font-weight: 700;
    -fx-text-alignment: center;
    -fx-text-fill: #969799;
    
    /* Layout */
    -fx-padding: 18px 32px;
    -fx-alignment: center;
    
    /* Styles */
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;    
}
/* ----------------------- */





/* FIELDS */
/* ----------------------- */

/* PRIMARY FIELD */

/* Default Variant */
.primary-field-variant-default {
    -fx-font-size: 16px;
    -fx-font-weight: 400;
    -fx-text-fill: #404146;
    -fx-padding: 14.5px 14px;
    -fx-background-color: #0F1011;
    -fx-border-color: #28292E;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.64), 6, 0.0, 0, 6);
}

.primary-field-variant-default:hover,
.primary-field-variant-default.edited {
    -fx-text-fill: #F8F8F8;
    -fx-background-color: #131516;
    -fx-border-color: #404146;
}

/* Error State */
.primary-field-variant-error {
    -fx-font-size: 16px;
    -fx-font-weight: 400;
    -fx-text-fill: #F8F8F8;
    -fx-padding: 16px 14px;
    -fx-background-color: #0F1011;
    -fx-border-color: #FF9500;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.64), 6, 0.0, 0, 6);
}

.error-label {
    -fx-font-size: 12px;
    -fx-font-weight: 500;
    -fx-text-fill: #FF9500;
}

.primary-field-variant-error.edited {
	-fx-font-size: 16px;
    -fx-font-weight: 400;
    -fx-text-fill: #F8F8F8;
    -fx-padding: 14.5px 14px;
    -fx-background-color: #131516;
    -fx-border-color: #FF9500;    
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.64), 6, 0.0, 0, 6);
}

/* ----------------------- */





/* ROLE PILL */
/* ----------------------- */

/* Default */
.role-pill {
    /* Text */
	-fx-font-size: 16px;
	-fx-font-weight: 400;
    -fx-text-alignment: center;
    
    /* Layout */
    -fx-padding: 6px 12px;
    -fx-alignment: center;
        
    /* Styles */
    -fx-background-color: transparent;
    -fx-background-radius: 64px;
    -fx-border-radius: 64px;
    -fx-border-color: #28292E;
    -fx-border-width: 1px;
}

/* Hover & Selected */
.role-pill:pressed,
.role-pill:hover {
	-fx-background-color: rgba(30, 32, 37, 0.64); 
	-fx-border-color: #404146;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.64), 12, 0, 0, 6);
}
/* ----------------------- */



/* TEXT BUBBLE */
/* ----------------------- */
.text-bubble-USER {
	
	/* Text */
	-fx-font-size: 16px;
	-fx-font-weight: 400;
    -fx-text-alignment: left;
	-fx-padding: 12px 16px;
	-fx-background-color: #4A6EF2;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: rgba(248, 248, 248, 0.24);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.64), 12, 0, 0, 6);
	
}

.text-bubble-AI {
	
	/* Text */
	-fx-font-size: 16px;
	-fx-font-weight: 400;
    -fx-text-alignment: left;
	-fx-padding: 12px 16px;
	-fx-background-color: #171719;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #28292E;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.64), 12, 0, 0, 6);
}

.text-bubble-ERROR {
	
	
	/* Text */
	-fx-font-size: 16px;
	-fx-font-weight: 400;
    -fx-text-alignment: left;
	-fx-padding: 12px 16px;
	-fx-background-color: rgba(255, 149, 0, 0.2);
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #FF9500;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.64), 12, 0, 0, 6);
	
	
}
/* ----------------------- */


/* ARTICLE CARD */
.article-preview-card {
	-fx-padding: 16px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #28292E;
    -fx-border-style: solid;
}

.article-preview-card:hover {
	-fx-padding: 16px;
	-fx-background-color: #1E2025;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #28292E;
    -fx-border-style: solid;
}

/* -------------------------------------------------------------------- */







